@model TravelRequest

<center><h2>Approve Travel Request</h2></center>
<br />

<div class="container">
    <div class="form-container">
    <form method="post">
        <div class="form-group">
                    <label for="empId">EmpId</label>
                    <input asp-items=@ViewBag.Employees asp-for="EmpId" readonly/>
                   
                    
                <label for="empId">EmpFname</label>
                <select asp-items=@ViewBag.Employees asp-for="EmpId" readonly>
                        <option value="" style="display:none">Dont Change</option>
                </select>
                </div><br />
        <div class="form-group">
            <input type="hidden" name="RequestId" asp-for="RequestId" />
            <label for="ApproveStatus">Approve Status:</label>

            <select asp-for="ApprovalStatus" name="ApproveStatus">
                <option value="">Change Approve Status</option>
                <option value="Approved">Approved</option>
                <option value="NotApproved">NotApproved</option>

            </select>
        </div>
        <br />
        <div class="btn-container">
            <button class="btn btn-outline-success" type="submit">Submit</button>
        </div>
    </form>
    </div>
</div>