@{
    ViewData["Title"] = "Home Page";
}
<style>
    
</style>

<div class="welcome-container">
    <h1 class="heading">Employee Travel Booking App</h1>
   
    <p>Employee  travel booking made easy!!</p>
</div>